<div>
    <h1>Kompomaatti</h1>
    <p>
        {{ 'dashboard.welcome' | translate }}
    </p>
    <div class="row">
        <div class="col-sm-6">
            <div class="highlight-box">
                <h3 class="box-header">
                    {{ 'dashboard.events.title' | translate }}
                </h3>
                <div class="box-body">
                    <p>{{ 'dashboard.events.empty' | translate }}</p>
                </div>
                <div class="box-footer">
                    <!--<button>{{ 'dashboard.events.action' | translate }}</button> -->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="highlight-box">
                <h3 class="box-header">
                    {{ 'dashboard.programme.title' | translate }}
                </h3>
                <div class="box-body">
                    <p>{{ 'dashboard.programme.empty' | translate }}</p>
                </div>
                <div class="box-footer">
                    <!--<button>{{ 'dashboard.programme.action' | translate }}</button> -->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="highlight-box">
                <h3 class="box-header">
                    {{ 'dashboard.compos.title' | translate }}
                </h3>
                <div class="box-body">
                    <p>{{ 'dashboard.compos.empty' | translate }}</p>
                </div>
                <div class="box-footer">
                    <!--<button>{{ 'dashboard.compos.action' | translate }}</button> -->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="highlight-box">
                <h3 class="box-header">
                    {{ 'dashboard.competitions.title' | translate }}
                </h3>
                <div class="box-body">
                    <p>{{ 'dashboard.competitions.empty' | translate }}</p>
                </div>
                <div class="box-footer">
                    <!--<button>{{ 'dashboard.competitions.action' | translate }}</button> -->
                </div>
            </div>
        </div>
    </div>
</div>