<div class="flex-row flex-wrap">
    <div class="col col-sm-6 mb-3">
        <div class="highlight-box">
            <h3 class="box-header">
                {{ 'dashboard.myBoards.title' | translate }}
            </h3>
            <div class="box-body">
                <p>{{ 'dashboard.myBoards.empty' | translate }}</p>
            </div>
            <div class="box-footer">
                <button>{{ 'dashboard.myBoards.action' | translate }}</button>
            </div>
        </div>
    </div>
    <div class="col col-sm-6 mb-3">
        <div class="highlight-box">
            <h3 class="box-header">
                {{ 'dashboard.sharedWithMe.title' | translate }}
            </h3>
            <div class="box-body">
                <p>{{ 'dashboard.sharedWithMe.empty' | translate }}</p>
            </div>
            <div class="box-footer">
                <button>{{ 'dashboard.sharedWithMe.action' | translate }}</button>
            </div>
        </div>
    </div>
</div>