<div>
    <div v-if="event">
        <h1>{{ event.name }}</h1>
        <p>
            <i-time :value="event.date" format="LL" />
        </p>
    </div>

    <!-- FIXME: Move these to smaller-components -->
    <h2>{{ 'event.compos' | translate }}</h2>
    <event-compos :event-id="eventId" />

    <h2>{{ 'event.competitions' | translate }}</h2>
    <event-competitions :event-id="eventId" />

    <h2>{{ 'event.programme' | translate }}</h2>
    <event-programme :event-id="eventId"></event-programme>
</div>