@import 'styles/bootstrap';

body {
    // if we don't use Bootstrap modals, this should avoid some bouncing.
    overflow-y: scroll;
    background: url('./background.jpg') top center no-repeat, black;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

hr {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.app-wrap {
    background: $app-bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    > main {
        // IE11 breaks from "flex: 1;"
        flex: 1 0 auto;
    }
}

main {
    // IE11
    display: block;
}

.navbar-header {
    position: relative;
    .liability-reducer {
        position: absolute;
        top: 0;
        right: 0;
        color: $brand-primary;
        text-transform: uppercase;
        font-size: 1rem;
    }
}

.navbar-toggle {
    color: $brand-primary;
    padding: $spacer/2 $spacer;
}

.container {
    padding: 0;
}

.p-3 {
    padding: $spacer !important;
}

.m-0 {
    margin: 0 !important;
}

.text-pre-wrap {
    white-space: pre-wrap;
}

.navbar {
    margin-bottom: 0;
}

.flex {
    display: flex;
}

.flex-baseline {
    display: flex;
    align-items: baseline;
}

.flex-row-even {
    display: flex;
    justify-content: space-between;
}

.flex-fill {
    flex: 1 0 auto;
}

.draggable-item {
    // Voting uses this.

    list-style: none;
    display: flex;
    white-space: nowrap;

    .item-handle {
        // "grab" might be more fitting, but it doesn't work in Chrome
        cursor: move;
        padding: $spacer ($spacer * 2);

        background: #eee;
    }
    .item-content {
        display: flex;
        flex: 1 1 auto;
        padding: $spacer;

        // Break the title into two parts on mobiles
        .item-creator {
            display: inline;
        }
        @media screen and (max-width: $screen-xs-max) {
            .item-creator {
                display: block;
            }
        }

        .item-index {
            width: 2em;
            font-size: 1.5rem;
        }
    }
}

body > .draggable-item {
    // items being dragged seem to end up absolute-positioned directly inside <body>
    padding: $spacer;
}

.list-k {
    list-style: none;
    padding: 0;

    li {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;

        padding-left: $spacer;
        padding-right: $spacer;
        border-top: 1px solid rgba(0,0,0,.075);
    }
    li:first-child {
        border-top: 0;
    }
    li:after {
        content: '';
        display: table;
        clear: both;
    }

    .item-time {
        // probably enough for dates like "Sun 12:00 AM"
        flex: 0 0 7.25em;
        white-space: nowrap;
        text-align: right;
        padding-right: $spacer;
    }
}

.entry-item {
    &.disqualified {
        text-decoration: line-through;
    }
}

@media screen and (min-width: $screen-sm-min) {
    .pull-sm-right {
        float: right !important;
    }
}

@media screen and (min-width: $screen-md-min) {
    .pull-md-right {
        float: right !important;
    }
}

footer {
    background: $brand-primary;
    color: $brand-primary-text-color;

    a, a:hover, a:focus {
        color: $brand-primary-text-color;

    }
}
