@import 'styles/bootstrap';

body {
    // if we don't use Bootstrap modals, this should avoid some bouncing.
    overflow-y: scroll;
}

.app-wrap {
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // @include shadow-box;
    >main {
        flex: 1;
    }
}

.p-3 {
    padding: $spacer;
}

@mixin bg-brand() {
    background: theme-color();
    color: #fff;
    a {
        color: #fff;
    }
}
.bg-brand {
    @include bg-brand;
}

.navbar {
    margin-bottom: 0;
}

/*
@mixin shadow-box() {
    box-shadow: rgba(#000, .25) 0 0 20px;
}


@mixin bg-brand-interactive() {
    @include bg-brand();
    &:hover, &:active {
        background: darken(theme-color(), 5%);
    }
    &:focus {
        box-shadow: theme-color() 0 0 8px;
    }
}

@mixin bg-secondary() {
    background: theme-color('secondary');
}

.flex-row {
    display: flex;
    align-items: stretch;
    margin-left: -($spacer / 2);
    margin-right: -($spacer / 2);
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

button {
    @include bg-brand-interactive;
    font-family: inherit;
    cursor: pointer;
    padding: $spacer;
    font-size: inherit;
    line-height: 1;
    border: 0;
}


nav h1 {
    font-size: inherit;
    margin: 0;
}

nav, footer {
    a {
        color: #fff;
        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }
    }
}

.highlight-box {
    @include shadow-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: $spacer;
    .box-header {
        @include bg-secondary;
        font-size: inherit;
        margin: 0;
    }
    .box-body {
        flex: 1;
    }
    > * {
        padding: $spacer;
    }
}
*/