@import 'styles/bootstrap';

body {
    // if we don't use Bootstrap modals, this should avoid some bouncing.
    overflow-y: scroll;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

hr {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.app-wrap {
    background: $app-bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    > main {
        flex: 1;
    }
}

.navbar-toggle {
    color: $brand-primary;
    padding: $spacer/2 $spacer;
}

.container {
    padding: 0;
}

.p-3 {
    padding: $spacer !important;
}

.m-0 {
    margin: 0 !important;
}

.text-pre-wrap {
    white-space: pre-wrap;
}

.navbar {
    margin-bottom: 0;
}

.flex-row-even {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: $screen-sm-min) {
    .pull-sm-right {
        float: right !important;
    }
}

@media screen and (min-width: $screen-md-min) {
    .pull-md-right {
        float: right !important;
    }
}

footer {
    background: $brand-primary;
    color: $brand-primary-text-color;

    a, a:hover, a:focus {
        color: $brand-primary-text-color;

    }
}
