<div class="row">
    <div class="col-lg-6">
        <h1>{{ 'session.loginTitle' | translate }}</h1>
        <form name="login-form" @submit.prevent="submit">
            <i-form-group name="username" :errors="errors">
                <label slot="label">{{ 'user.username' | translate }}</label>
                <input slot="control" class="form-control" v-model="request.username">
            </i-form-group>
            <i-form-group name="password" :errors="errors">
                <label slot="label">{{ 'user.password' | translate }}</label>
                <input slot="control" type="password" class="form-control" v-model="request.password">
            </i-form-group>
            <button class="btn btn-primary" :disabled="!valid">
                {{ 'session.login' | translate }}
            </button>
        </form>
    </div>
</div>